    <div class="container">
        <h1 class="text-center">Список клиентов WireGuard сервера</h1>
        <table class="table table-bordered table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Имя клиента</th>
                    <th>IP-адрес</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <% clients[:clients].values.each do |client| %>
                <tr>
                    <td><%= client['id'] %></td>
                    <td><%= client['address'] %></td>
                    <td class="status-active"><%= client['enable'] ? 'Активен' : 'Неактивен' %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
