    <div class="container">
        <h1 class="text-center">Список клиентов WireGuard сервера</h1>
        <table class="table table-bordered table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Имя клиента</th>
                    <th>IP-адрес</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Клиент 1</td>
                    <td>10.0.0.1</td>
                    <td class="status-active">Активен</td>
                </tr>
                <tr>
                    <td>Клиент 2</td>
                    <td>10.0.0.2</td>
                    <td class="status-inactive">Неактивен</td>
                </tr>
                <tr>
                    <td>Клиент 3</td>
                    <td>10.0.0.3</td>
                    <td class="status-active">Активен</td>
                </tr>
                <tr>
                    <td>Клиент 4</td>
                    <td>10.0.0.4</td>
                    <td class="status-inactive">Неактивен</td>
                </tr>
                <!-- Добавьте дополнительные строки по мере необходимости -->
            </tbody>
        </table>
    </div>
